.cloud
.git
*.db
*.db-swan
deps
tts
.uuid
core
*.log
known_devices.yaml
mysensors24.json
mysensors868.json
secrets.yaml
.spotify-token-cache
.storage/*
!.storage/hacs.installed
!.storage/lovelace
www/community/
esphome/*
!esphome/*.yaml
esphome/secrets.yaml
custom_components/*
customize.yaml